body {
    font-family:  verdana;
    width: 100%;
  }
  
  .header{
      display: flex;
      margin-left: 100px;
      align-items: center;
      margin-bottom: 50px;
  }
  .half-width{
    width:50%;
  }
  .half-width h1{
    font-size: 56px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.582);
    margin-left: 0;
  }
  .half-width h1 span{
    color: rgba(255, 140, 0, 0.644);
   }
  .half-width p{ 
    font-size: 16px;
    padding-top: 14px;
    padding-bottom:30px;
    width: 80%;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.76);
  }
  .button{
    text-decoration: none;
    font-size: 18px;
    background-image: linear-gradient(to right,rgba(255, 140, 0, 0.76),rgb(255, 95, 67));
    color: white;
    padding: 21px 40px;
    border-radius: 38px;
   }
   img.firstimage{
       width: 90%;
      
       
   }
   .image-sec{
       width: 100%;
       align-items: center;
   }
   img.secondimage{
       width: 80%;
       margin-left: 180px;
       margin-right: auto;
       padding-top: 65px;
       display: flex;
   }
   .middle-part{
       background-image: url("images/7.png");
       background-size: cover;
       width: 100%;
       display: flex;
   }
   .right-m{
     margin-top: 120px;
     margin-right: 150px; 
   }
.middle-part h1 {
    font-size: 40px;
}
.right-m p{
    margin-bottom: 50px;
}
.section3{
    margin-top: 80px;
    padding-bottom:40px ;
}
.section3 div {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.section3 div h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.705);
}
.section4{
    width: 85%;
    display: flex;
    margin: 0 auto;
}
.section4 div{
    width: 100%;
    margin-right: 50px;
    height: 530px;
    border-radius: 40px;
    box-shadow: 0 0 20px 12px rgb(231, 228, 228);
}
.item{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:20px ;
    margin-bottom: 40px;
}
.section4 div p, h1{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    line-height: 28px;
}
.section5{
    margin-top: 200px;
    width: 80%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    box-shadow: 0 0 20px 12px rgb(231, 228, 228);

}

.section5 div{
    width: 100%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 60px;
    
}
.section6{
    margin-top: 200px;
    width: 80%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    box-shadow: 0 0 20px 12px rgb(231, 228, 228);
    margin-bottom: 150px;

}
.section6 div{
    width: 100%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 60px;
    
}
.section6 h1{
    text-align: center;
}
footer{
    margin-top: 120px;
    background-color: rgb(0, 0, 0);
    color: rgba(235, 235, 235, 0.493);
    padding-top: 40px;
    padding-bottom: 80px;

}
footer div h2{
    text-align: center;
    font-size: 30px;
}
footer div p{
    text-align: center;
}

footer div h2 span{
 color:rgba(250, 186, 68, 0.925)
}

